# Environment variables
.env
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Gradio cache
.gradio

# Virtual environment
venv/


helloworld.py
HR-Agent/hr_agent_article.md
trip-planner-agent.md
claims-wise-article.md
contract-assistant-article.md
Trip-planner/_pycache_
Map-dashboards/
Duckdb/
